{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
   <link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
{% endblock %}

{% block content %}
<!-- Cabeçalho -->
<header>
   <h1>Bem-vindo ao Catálogo de Bolos</h1>
   <div class="search-container">
       <input type="text" id="search" placeholder="Buscar por bolo...">
       <button id="search-btn">Buscar</button>
   </div>
</header>

<!-- Layout do Catálogo -->
<div class="container">
   
<!-- Barra Lateral -->
<aside class="sidebar">
    <h2>Categorias</h2>
    <div class="categoria-lista">
        <h3>Bolos Tradicionais:</h3>
        <ul>
            <li><label for="bolo-cenoura">Bolo de Cenoura</label></li>
            <li><label for="bolo-milho">Bolo de Milho</label></li>
            <li><label for="bolo-fuba">Bolo de Fubá</label></li>
        </ul>
 
        <h3>Bolos Recheados:</h3>
        <ul>
            <li><label for="morango-deuses">Morango dos Deuses</label></li>
            <li><label for="prestigio">Prestígio</label></li>
            <li><label for="brigadeiro">Brigadeiro</label></li>
        </ul>
 
        <h3>Tamanhos:</h3>
        <ul>
            <li><label for="tamanho-grande">Grande</label></li>
            <li><label for="tamanho-medio">Médio</label></li>
            <li><label for="tamanho-pequeno">Pequeno</label></li>
        </ul>
    </div>
</aside>

    {% csrf_token %}
    
   <!-- Conteúdo do Catálogo -->
<div id="catalogo">
    <section class="categoria">
        <div class="card-container">
            <div class="card-row">
                {% for bolo in bolos %}
                <div class="card">
                    <img src="{{ bolo.imagem_url }}" alt="{{ bolo.sabor }}">
                    <h3>{{ bolo.sabor }}</h3>
                    <p class="preco">Pequeno: R$ {{ bolo.preco_pequeno }}</p>
                    <p class="tamanho">Tamanhos:</p>
                    <select class="tamanho-select">
                        <option value="p" data-preco="{{ bolo.preco_pequeno }}">P - R$ {{ bolo.preco_pequeno }}</option>
                        <option value="m" data-preco="{{ bolo.preco_medio }}">M - R$ {{ bolo.preco_medio }}</option>
                        <option value="g" data-preco="{{ bolo.preco_grande }}">G - R$ {{ bolo.preco_grande }}</option>
                    </select>
                    <button class="botao-comprar" data-product-id="{{ bolo.id }}" data-product="{{ bolo.sabor }}">Comprar</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

   <!-- Carrinho de Compras -->
   <aside id="carrinho" class="carrinho">
       <h2>Carrinho de Compras</h2>
       <div id="carrinho-itens"></div>
       <p>Total: <span id="total">R$ 0,00</span></p>
       <button id="finalizar-compra">Finalizar Compra</button>
   </aside>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/catalogo.js' %}"></script>
{% endblock %}