{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>La Pâtisserie Belle</h1>
    <p>
      Welcome to La Pâtisserie Belle, where every bite is a journey into the
      exquisite world of finely crafted pastries. Our patisserie is
      dedicated to bringing you the most delicious and beautifully designed
      pastries that will delight your senses and elevate your taste
      experience. Nestled in the heart of the city, our patisserie is a
      haven for those who appreciate the finer things in life.
    </p>
    <button class="btn">Explore More</button>
  </div>

  <div class="stack">
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/a36d2695-58f8-4644-9e19-71988334e345"
        alt="" />
    </div>
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/9f9148ad-74c2-4ebc-a769-bb90fec7b9a5"
        alt="" />
    </div>
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ff35104e-3a7e-458f-8077-7ea2780706fa"
        alt="" />
    </div>
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/060546fb-1cbb-428e-b48d-eae2711a0c83"
        alt="" />
    </div>
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/7feb903b-33f7-4326-90eb-a4f54c86c68e"
        alt="" />
    </div>
    <div class="card">
      <img
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/417d1d6b-4100-4419-9e01-37561a354b80"
        alt="" />
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}