<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetinho duda</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div id="div_form">
    <form class="form" method="POST">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <!-- O restante do formulário de login -->
    
        {% csrf_token %}
        <h1>Entrar</h1>
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" placeholder="Digite seu usuário" class="form--input" required>
    
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" class="form--input" required>
    
        <div class="form--marketing">
            <p>Ainda não é cadastrado? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        </div>
    
        <button type="submit" class="form--submit">Entrar</button>
    </form>
</div>

</body>
</html>

