@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #d19411;
  --secondary-color: #f58a8a;
  --bg-color: #fff7f3;
  --text-color: #333;
  --button-bg: #fc735e;
  --button-hover-bg: #f58a8a;
  --input-border: #e2e2e2;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--bg-color);
  background: linear-gradient(145deg, #f2f2f2 0%, #eaeaea 76%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: var(--text-color);
}

header {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f4b942, #ff6f61);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
}

nav {
  margin-top: 10px;
}

.categoria-btn {
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.categoria-btn:hover {
  background-color: var(--button-hover-bg);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#search {
  border: 1px solid var(--input-border);
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2rem;
  width: 400px;
  margin-right: 10px;
}

#search-btn {
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: var(--button-hover-bg);
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.sidebar {
  width: 20%;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sidebar h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.categoria-lista h3 {
  margin-top: 15px;
  font-size: 1.2rem;
}

.categoria-lista ul {
  list-style-type: none;
  padding: 0;
}

.categoria-lista li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.categoria-lista input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.categoria-lista label {
  font-size: 1em;
  color: #333;
}

#catalogo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte */
  gap: 20px; /* Espaço entre os cards */
  margin-bottom: 20px;
}

.card-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background: white;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Três cards por linha, com espaço entre eles */
  height: 430px;
  padding: 15px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 10px 0;
}

.card .descricao {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.card .preco {
  font-size: 1.1rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.card .tamanho {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.card .botao-comprar {
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.card .botao-comprar:hover {
  background-color: var(--button-hover-bg);
}

.carrinho {
  width: 25%;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 20px;
}

.carrinho h2 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.carrinho-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--input-border);
}

.carrinho-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.carrinho-item p {
  margin: 0;
  font-size: 0.9rem;
}

.carrinho-item .quantidade {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.remover-item {
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.remover-item:hover {
  background-color: var(--button-hover-bg);
}

.total {
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--primary-color);
}

#finalizar-compra {
  background-color: var(--button-bg);
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#finalizar-compra:hover {
  background-color: var(--button-hover-bg);
}
